# PlanAhead Generated physical constraints 

NET "clk" LOC = A8;

NET "sw[0]" LOC = N15;
NET "sw[1]" LOC = J16;
NET "sw[2]" LOC = K16;
NET "sw[3]" LOC = K15;
NET "sw[4]" LOC = L15;
NET "sw[5]" LOC = M16;
NET "sw[6]" LOC = M15;
NET "sw[7]" LOC = N16;